.left-sidebar {
  div {
    img {
      height: 60px;
    }
  }
  .scroll-button {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
  }
}
.active-link {
  color: #ff0000; /* Set the desired color for the active link */
  font-weight: bold; /* Optionally set other styles for the active link */
}
