@import "../../App.scss";
.left-sidebar {
  div {
    img {
      height: 60px;
    }
  }
  .scroll-button {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
  }
}
.active-link {
  background-color: $secondary-color;
  color: #fff;
}
