.left-sidebar,.cart,.main-content {
  background: #f0f0f0;
  max-height: calc(100vh - 60px);
  overflow-y: auto;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 6px; /* Adjust the width as needed */
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

.cart{
  background-color: #fff;
}

.main-content {
  flex: 1;
}

$primary-color : #c9ddb7;
$secondary-color : #016533;

.pmy{
  background-color: $primary-color;
}
.scy{
  color: $secondary-color;
}

.secondary{
  background-color: $secondary-color;
}

a{
  text-decoration: none;
  color:inherit;
}